.marked {
    font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    display: block;
    color: rgba(0,0,0,.75);
}

body.marked {
    text-align: center;
}

h1.marked:after, 
h2.marked:after {
    content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 1px solid hsla(0,0%,50%,.2);
}

h1.marked, 
h2.marked, 
h3.marked, 
h4.marked, 
h5.marked, 
h6.marked {
    margin: 1.8em 0;
    line-height: 1.33;
}

h1.marked {
    font-size: 2em;
    font-weight: bold;
}

h2.marked {
    font-size: 1.5em;
    font-weight: bold;
}

h3.marked {
    font-size: 1.17em;
    font-weight: bold;
}

ul.marked {
    list-style-type: disc;
}

ol.marked {
    list-style-type: decimal;
}

li.marked {
    display: list-item;
    text-align: -webkit-match-parent;
}

a.marked {
	display: inline;
}

blockquote.marked {
    color: rgba(0,0,0,.5);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0,0,0,.075);
}

code.marked,
pre.marked {
    font-family: Ubuntu Mono,Roboto Mono,Lucida Sans Typewriter,Lucida Console,monaco,Courrier,monospace;
    font-size: .85em;
    padding: 2px 4px;
    white-space: pre-wrap;
}

code.marked {
	background-color: rgba(0,0,0,.05);
	border-radius: 2px;
	display: inline;
}

div.marked {
    text-align: left;
    max-width: 35vw;
    margin: 0 auto;
}

div.pre-container {
	background-color: rgba(0,0,0,.05);
    width: 100%;
	white-space: pre-wrap;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}